<!DOCTYPE html>
<html lang="en">
<head>
    <% include templates/head.ejs%>
</head>

<body>
<% include templates/header2.ejs%>
<!-- Insert Body here -->
<div class="container">
        <%- body %>
</div><!-- /.container -->

<div class="bottom fixed">

</div >
</body>
</html>