<% layout('apilayout') -%>

<h1>My IoT Lawn - Home Automation</h1>
<p class="lead">Home Automation Using IoT Modules Raspberry Pi,Audrino,RF Signals,IR Transmission.
<br/>The IoT Modules consists of different type of Sensors and Actuators, which are integrated into electonic modules.
<br/>With these sensors we can monitor or measure the satus, and can trigger an alarm or respond to the status thresholds 
<br/>using the actuators or by switching/control circuits.
</p>

<p class="lead">
 Integrating these electonic modules with household devices,home monitoring and home security , would help to control and monitor
<br>the house from remote locations and within the home. All the Household devices and equipmewnts can be connected and controled with proper coordination. 
<br>Thus can be programmed to some range of inteligent in controling and monitoring in smart and automatic means.
</p>
